@import './bootstrap-overrides.scss';
@import './ux-extensions.scss';
#menu-user-dropdown {
    margin: 0;
    padding: 0;
    border: 0;
}

.ex-app-logo {
    background-image: url(../images/logo_black.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 100px;
}

.dark-navbar {
    .ex-app-logo {
        background-image: url(../images/logo_white.png);
    }
}