@import "./ux-extensions.scss";

html {
  overflow-y: hidden;
}

/* Bulma extensions */
.navbar-dropdown.is-right {
  left: auto;
  right: 0;
}

/* Application specific styles */
.ex-app-logo {
  background-image: url(../images/logo_black.png);
  background-repeat: no-repeat;
  background-position: center;
  width: 60px;
  height: 32px;
}

.is-dark {
  .ex-app-logo {
    background-image: url(../images/logo_white.png);
  }
}

.ex-page-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.ex-page-content {
  display: flex;
  overflow-y: auto;
  flex: auto;
}
