.ex-inline-block {
    display: inline-block;
}

.ex-width-auto {
    width: auto;
}

.ex-cursor-pointer {
    cursor: pointer;
}

.ex-cursor-default {
    cursor: default;
}

.ex-break-word {
    word-break: break-word;
    overflow-wrap: break-word;
}

.ex-font-size-normal {
    font-size: 100%;
}

.ex-background-transparent {
    background-color: transparent;
}

.ex-margin-bottom-zero {
    margin-bottom: 0px;
}

.ex-margin-top-zero {
    margin-top: 0px;
}

.ex-noselect {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}