.current-step-panel-container {
    margin-top: 0px;
    margin-bottom: 0px;
    display: block;
    height: 100%;
    .current-step-panel {
        padding: 16px;
        height: 100%;
        width: 50vw;
        display: flex;
        flex-direction: column;
        .current-step-panel-heading {
            margin-bottom: 16px;
            display: flex;
            flex: 0 0 auto;
            .step-nav-btn {
                border-radius: 1000px;
            }
            .tutorials-selector-container {
                text-align: center;
                margin-right: 20px;
            }
            .prev-btn-container {
                flex: 1 1 auto;
            }
            .step-title-container {
                flex: 10 1 auto;
                text-align: center;
                span {
                    display: block;
                    margin: 8px;
                }
            }
            .next-btn-container {
                flex: 1 1 auto;
                text-align: right;
            }
        }
        .current-step-panel-body {
            display: flex;
            flex: 1 1 100%;
            overflow-y: auto;
            overflow-x: hidden;
            padding-right: 20px;
        }
    }
}

.tutorial-drop-menu-item {
    hr {
        margin: 0;
        padding: 0;
        height: 0;
        margin-top: 12px;
    }
}

.logo-output-panel {
    width: 100%;
    height: 100%;
    padding-top: 0;
}

.source-input-panel {
    height: 100%;
    width: 50vw;
    display: flex;
    flex-direction: column;
    padding: 0px;
    margin: 0px;
    .source-input-panel-heading {
        display: flex;
        flex: 0 0 auto;
    }
    .source-input-panel-body {
        display: flex;
        flex: 1 1 10em;
        overflow: hidden;
        padding: 0;
        .codemirror-input-logo {
            width: 50vw;
            height: 100%;
        }
    }
}