.main-playground-menu {
    margin-left: 100px;
    .glyphicon-play {
        color: seagreen;
    }
    .glyphicon-stop {
        color: darkred;
    }
    .disabled .glyphicon-stop,
    .disabled .glyphicon-play,
    {
        color: inherit;
    }
}