.ex-navbar-usercard {
    margin-left: 8px;
    margin-right: 8px;
    background-color: transparent;
    .nav.navbar-nav>li>a {
        margin: 0;
        border: 0;
        padding-left: 0;
        padding-right: 0;
        width: 0;
        text-decoration: none;
    }
    .avatar-img {
        width: 30px;
        height: 30px;
    }
    .userInfo {
        padding-left: 8px;
        padding-right: 8px;
        vertical-align: middle;
    }
    .userName {
        text-transform: capitalize;
        line-height: 18px;
    }
}