.ex-no-data-container {
    padding: 20px;
    border: 1px solid lightgray;
    border-radius: 6px;
    text-align: center;
    .no-data-icon {
        color: lightgray;
        font-size: 300%
    }
    &.no-border {
        border: none;
    }
}