.doc-section {
    h4 {
        margin-top: 30px;
        padding-bottom: 8px;
        border-bottom: 1px solid gray;
    }
    h5 {
        font-weight: bold;
        margin-top: 20px;
        margin-bottom: 4px;
        font-family: Inconsolata;
        font-size: 120%;
    }
    ul {
        padding: 0;
    }
    li {
        list-style-type: none;
    }
    table {
        td {
            padding: 4px;
        }
    }
}