.gallery-component {
  .program-cards-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;

    .program-card {
      width: 200px;
      margin: 20px;
    }
  }
}
