.form-signin {
    position: relative;
    top: 40%;
    transform: translateY(-40%);
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid lightgray;
    border-radius: 3px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
    padding-top: 10px;
    h2 {
        text-align: center
    }
}

.container-login {
    background: #ffffff;
    background: linear-gradient(135deg, #ffffff 0%, #f6f6f6 47%, #ededed 100%);
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: 0;
    padding: 0;
    width: 100%;
}

.keepmeloggeincheckbox {
    text-align: center;
}