.tutorials-selector-container {
    text-align: center;
    margin-right: 20px;
}

.current-step-panel-header-container {
    text-align: center;
}

.step-nav-btn {
    border-radius: 1000px;
}

.tutorial-drop-menu-item {
    hr {
        margin: 0;
        padding: 0;
        height: 0;
        margin-top: 12px;
    }
}

.logo-output-panel {
    position: relative;
    height: 300px;
    padding: 0px;
}

.source-input-panel {
    height: 300px;
    padding: 0px;
    .codemirror-input-logo {
        height: 100%;
    }
}