.ex-drap-drop-files-here {
    padding: 20px;
    text-align: center;
    border: 2px dashed lightgray;
    .glyphicon {
        color: lightgray;
        font-size: 300%
    }
    .drag-drop-text {
        margin: 16px;
        color: gray;
    }
    &.is-active {
        border: 2px dashed mediumseagreen;
        .glyphicon {
            color: mediumseagreen;
            font-size: 50px;
        }
        .drag-drop-text {
            margin: 16px;
            color: seagreen;
        }
    }
}