.code-placeholder {
    height: 100%;
    position: relative;
}

.CodeMirror pre {
    font-family: Inconsolata, Consolas, 'Courier New', monospace;
    font-size: 18px
}

.code-controls {
    position: absolute;
    right: 0px;
    top: 0px;
    z-index: 100;
    .glyphicon {
        color: green;
    }
    .btn {
        margin-top: 10px;
        margin-right: 10px;
    }
}
