.code-panel-container {
    height: 100%;
    position: relative;
    .code-controls {
        padding: 4px;
        padding-top: 8px;
        height: 60px;
        .run-button {
            .glyphicon {
                color: seagreen;
            }
        }
    }
    .code-input-container {
        position: absolute;
        top: 60px;
        bottom: 0px;
        left: 0px;
        right: 0px;
    }
}